<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gubin.commodity.mapper.CommodityInfoMapper">

    <update id="updateSaleNum">
        update commodity_info set sale_num  = sale_num + #{saleNum},update_time = now() where id = #{id}
    </update>
</mapper>